.nav-wrapper {
  display: flex;
  align-items: center;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 41px;
  padding: 0px 24px 0px 40px;
  box-shadow: 0px 2px 16px rgba(55, 63, 71, 0.15);
  background-color: #fff;
}

.burger {
  display: none;
  width: 28px;
  height: 19px;
  background-image: url('../../images/burger.png');
  background-size: cover;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 64px;
  white-space: nowrap;
}
  
.logo {
  width: 120px;
  min-width: 120px;
  height: 46px;
  background-image: url('../../images/kiwitaxi-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--margin {
    margin: 0 45px 0 8px;
  }

  & > a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.menu {
  min-width: 564px;
  display: flex;
  justify-content: space-between;
  
  &--margin {
    margin-right: (131 / 1440) * 100%;
  }
  
  & > a {
    display: block;
    text-decoration: none;
  }

  &__item-label {
    @include setFont(13px, 16px, #6F7F8F);
  }

  &__item-arrow {
    background: url("../../images/arrow-down.png") no-repeat scroll right 9px transparent; 
    
    &--padding {
      padding: 0 17px 0 0;
    }
  }
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 329px;

  &__separator {
    background-image: url('../../images/separator.png');
    width: 1px;
    height: 30px;
  }

  &__help {
    text-decoration: none;
    @include setFont(13px, 16px, #6F7F8F);
  }
}

.dropdown-currency {
  display: block;
  text-decoration: none;
  cursor: pointer;
  @include setFont(13px, 16px, #6F7F8F);

  &--margin {
    margin-top: 4px;
  }
}

.dropdown-country {
  display: flex;
  width: 26px;
  height: 17px;
  text-decoration: none;
  cursor: pointer;

  &__flag {
    background-image: url('../../images/flag.png');
    display: block;
    width: 100%;
    height: 100%;
  }
}

.login-btn {
  width: 104px;
  height: 32px;
  @include setFont(13px, 16px, #6F7F8F);
  border: 1px solid #6F7F8F;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
}

/* Desktop and iPad above 1089px ----------- */
@media only screen
and (min-width: 1089px)
and (max-width: 1200px) {
  .nav-wrapper {
    padding: 0px 12px 0px 20px;
  }

  .dropdown {
    min-width: 270px;
  }

  .menu--margin {
    margin-right: 2%;
  }

  .menu {
    min-width: 540px;
  }
}

/* Desktop and iPad under 1089px ----------- */
@media only screen
and (min-width: 320px)
and (max-width: 1089px) {
  .menu {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .burger {
    display: flex;
  }

  .navbar {
    width: 28px;
  }

  .nav-wrapper {
    position: relative;
    z-index: 10;
    justify-content: space-between;
    padding: 0px 16px 0px 17px;
    margin-bottom: 0px;
  }

  .logo--margin {
    margin: 0;
  }

  .questions-block {
    width: 100%;
    min-width: initial;
    max-width: initial;
  }
}

/* Desktop and iPad under 950px ----------- */
@media only screen
and (min-width: 320px)
and (max-width: 950px) {
  .nav-wrapper {
    height: 52.08px;
  }
}



/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
  


}

/* Mobile ----------- */
@media only screen
and (min-width: 320px)
and (max-width: 480px) {
.nav-wrapper {
  height: 52px;
}
}

